# build outputs
/build

# dev outputs
/.svelte-kit
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# dependencies
node_modules

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# other
/package
*.db
logs/
.vscode
unp4k/
